# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*_cache/

# Rendered temporary files from old names
/R code_files/
/#U*_files/
/analysis_files/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
